<table class="highlight">
  <thead>
    <tr>
      <th data-field="id">ID</th>
      <th data-field="title">Title</th>
      <th data-field="message">Message</th>
      <th data-field="date">Date</th>
      <th data-field="author">Author</th>
      <th data-field="actions" *ngIf="userInfo"></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let advert of adverts; let last = last">

      <td>{{ advert.id }}</td>
      <td>
        <a (click)="openAdvert(advert.id)"
           [attr.data-target]="'modal' + advert.id"
           [style.cursor]="'pointer'"
           class="modal-trigger">{{ advert.title }}</a>
        <islast [isLast]="last" (lastDone)="initModal()"></islast>
      </td>
      <td>{{ advert.message }}</td>
      <td>{{ advert.created_at }}</td>
      <td>{{ advert.user }}</td>
      <td *ngIf="userInfo">
        <button class="btn-floating blue waves-effect waves-light btn-small modal-trigger"
                [attr.data-target]="'modal' + advert.id"
                (click)="openAdvert(advert.id, 'edit')"><i class="material-icons">edit</i></button>
        <button (click)="deleteAdvert(advert)"
           class="btn-floating red waves-effect waves-light btn-small">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button class="waves-effect btn waves-light red modal-trigger" data-target="addAdvert"><i class="material-icons left">add</i><span>Add advert</span></button>

<!-- Modal Structure for Add Advert-->
<div id="addAdvert" class="modal">
  <advert-add (onAddAdvert)="addAdvert($event)"></advert-add>
</div>

<!-- Modal Structure for Advert -->
<div id="modal{{id}}" class="modal">
  <advert [id]="id" [action]="action" (onSaveAdvert)="updateAdvert($event)"></advert>
</div>