<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a [routerLink]=" ['/Home'] " class="brand-logo">AdBoard</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <span *ngIf="userInfo">Welcome, {{ userInfo.email }}!</span>
        <a class="waves-effect waves-light" [routerLink]=" ['/Home'] ">Adverts</a>
        <a class="waves-effect waves-light" *ngIf="!userInfo" href="users/sign_in">Login / Sign up</a>
        <a class="waves-effect waves-light" *ngIf="userInfo" (click)="signOut()">Sign Out</a>
      </ul>
    </div>
  </div>
</nav>

<main>
  <div class="container">
	  <router-outlet></router-outlet>
  </div>
</main>

<footer>
  <div class="container">© 2016</div>
</footer>
