<!--Show if show action-->
<div id="advert__show" *ngIf="action === 'view'">
  <div class="modal-content">
    <h1>{{ advert.title }}</h1>
    <h3>{{ advert.user }}</h3>
    <p>{{ advert.message }}</p>
    <pre>{{ advert.created_at }}</pre>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
  </div>
</div>

<!--Show if edit action-->
<div id="advert__edit" *ngIf="action === 'edit'">
  <form id="advert__edit__form" (ngSubmit)="saveAdvert()">
    <div class="modal-content">
      <div class="input-field col s12">
        <input id="advert_title" type="text" class="validate"
               [ngModel]="advert.title" (ngModelChange)="advert.title = $event">
        <label for="advert_title">Title</label>
      </div>
      <h3>{{ advert.user }}</h3>
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"
                  [ngModel]="advert.message" (ngModelChange)="advert.message = $event"></textarea>
        <label for="textarea1">Message</label>
      </div>
      <pre>{{ advert.created_at }}</pre>
    </div>
    <div class="modal-footer">
      <button class="modal-action modal-close waves-effect waves-light btn" type="submit">Save</button>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </form>
</div>